@charset "UTF-8";
.loading[_ngcontent-c4] {
    position: fixed;
    z-index: 997;
    height: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.loading[_ngcontent-c4]:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2)
}

.loading[_ngcontent-c4]:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.cssload-container[_ngcontent-c4] {
    display: block;
    margin: 49px auto;
    width: 97px
}

.cssload-loading[_ngcontent-c4] i[_ngcontent-c4] {
    width: 49px;
    height: 49px;
    display: inline-block;
    background: #ff5954;
    border-radius: 50%
}

.cssload-loading[_ngcontent-c4] i[_ngcontent-c4]:nth-child(1) {
    animation: 1.15s ease-in-out infinite cssload-loading-ani1;
    -o-animation: 1.15s ease-in-out infinite cssload-loading-ani1;
    -ms-animation: cssload-loading-ani1 1.15s ease-in-out infinite;
    -webkit-animation: 1.15s ease-in-out infinite cssload-loading-ani1;
    -moz-animation: 1.15s ease-in-out infinite cssload-loading-ani1
}

.cssload-loading[_ngcontent-c4] i[_ngcontent-c4]:nth-child(2) {
    background: #00a8ce;
    margin-left: -10px;
    animation: 1.15s ease-in-out .58s infinite cssload-loading-ani1;
    -o-animation: 1.15s ease-in-out .58s infinite cssload-loading-ani1;
    -ms-animation: cssload-loading-ani1 1.15s ease-in-out .58s infinite;
    -webkit-animation: 1.15s ease-in-out .58s infinite cssload-loading-ani1;
    -moz-animation: 1.15s ease-in-out .58s infinite cssload-loading-ani1
}

@keyframes cssload-loading-ani1 {
    70% {
        transform: scale(.5)
    }
}

@-webkit-keyframes cssload-loading-ani1 {
    70% {
        -webkit-transform: scale(.5)
    }
}

#fountainG[_ngcontent-c4] {
    position: relative;
    width: 126px;
    height: 10px;
    margin: auto
}

.fountainG[_ngcontent-c4] {
    position: absolute;
    top: 0;
    background-color: #0069a7;
    width: 10px;
    height: 10px;
    animation-name: bounce_fountainG;
    -o-animation-name: bounce_fountainG;
    -ms-animation-name: bounce_fountainG;
    -webkit-animation-name: bounce_fountainG;
    -moz-animation-name: bounce_fountainG;
    animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(.3);
    -o-transform: scale(.3);
    -ms-transform: scale(.3);
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px
}

#fountainG_1[_ngcontent-c4] {
    left: 0;
    animation-delay: .6s;
    -o-animation-delay: .6s;
    -ms-animation-delay: .6s;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s
}

#fountainG_2[_ngcontent-c4] {
    left: 16px;
    animation-delay: .75s;
    -o-animation-delay: .75s;
    -ms-animation-delay: .75s;
    -webkit-animation-delay: .75s;
    -moz-animation-delay: .75s
}

#fountainG_3[_ngcontent-c4] {
    left: 31px;
    animation-delay: .9s;
    -o-animation-delay: .9s;
    -ms-animation-delay: .9s;
    -webkit-animation-delay: .9s;
    -moz-animation-delay: .9s
}

#fountainG_4[_ngcontent-c4] {
    left: 47px;
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s
}

#fountainG_5[_ngcontent-c4] {
    left: 63px;
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s
}

#fountainG_6[_ngcontent-c4] {
    left: 79px;
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s
}

#fountainG_7[_ngcontent-c4] {
    left: 94px;
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s
}

#fountainG_8[_ngcontent-c4] {
    left: 110px;
    animation-delay: 1.64s;
    -o-animation-delay: 1.64s;
    -ms-animation-delay: 1.64s;
    -webkit-animation-delay: 1.64s;
    -moz-animation-delay: 1.64s
}

#fountainG_9[_ngcontent-c4] {
    left: 125px;
    animation-delay: 1.8s;
    -o-animation-delay: 1.8s;
    -ms-animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s
}

@keyframes bounce_fountainG {
    0% {
        transform: scale(1);
        background-color: #0069a7
    }
    100% {
        transform: scale(.3);
        background-color: #0069a7
    }
}

@-webkit-keyframes bounce_fountainG {
    0% {
        -webkit-transform: scale(1);
        background-color: #0069a7
    }
    100% {
        -webkit-transform: scale(.3);
        background-color: #0069a7
    }
}

.estiloLogo[_ngcontent-c4] {
    height: 51px;
    top: -55px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.cajaCargando[_ngcontent-c4] {
    box-shadow: 10px 10px 35px -4px rgba(0, 0, 0, .75);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #f2f2f2;
    background-color: #fff;
    position: absolute;
    width: 170px;
    height: 105px;
    top: -75px;
    left: -17px
}

.ui-g {
    --ms-flex-wrap: wrap;
}
.ui-g {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

.fa {
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ui-widget, .ui-widget * {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
i {
    font-style: italic;
}
.ui-button .ui-button-text {
    display: block;
    line-height: normal;
}
body .ui-button {
    margin: 0;
    color: #fff;
    background-color: #069;
    border: 1px solid #069;
    font-size: 14px;
    transition: background-color .3s,box-shadow .3s;
}
body .ui-widget {
    font-family: cabin,sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.ui-button {
    display: inline-block;
    position: relative;
    padding: 0;
    text-decoration: none!important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
}
user agent stylesheet
button {
    --webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
    font: 400 13.3333px Arial;
}
.fa-check-square-o::before {
    content: "\f046";
}


