<form method="post" action="{{ path('tratamiento_delete', {'id': tratamiento.id}) }}" onsubmit="return confirm('Está Seguro que Desea Eliminar?');">
    <input type="hidden" name="_method" value="Eliminar">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tratamiento.id) }}">
    <button class="btn btn-block btn-outline-danger btn-sm">
<i class="fas fa-trash-alt"> 
Eliminar
</i>
</button>
</form>
