{% extends 'login_base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p class="text-white">
        Si existe una cuenta que coincide con su correo electrónico, entonces se acaba de enviar un correo electrónico que contiene un enlace que puede usar para restablecer su contraseña.
        Este enlace caducará en {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p class="text-white">Si no recibe un correo electrónico, consulte su carpeta de correo no deseado o<a href="{{ path('app_forgot_password_request') }}">intenta otra vez</a>.</p>
{% endblock %}
