

<nav class="navbar navbar-light navbar-expand-lg ">
<div class="container-fluid">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <a class="nav-item nav-link" id="op1" href="{{ path('welcom') }}" style="font-size: 0.65em">Estadísticas Consultas</a>
        <a class="nav-item nav-link" id="op2" href="{{ path('dg') }}" style="font-size: 0.65em">Estadísticas Diagnósticos</a>
  </div>

  </div>

</nav>