<form method="post" action="{{ path('medicamentos_delete', {'id': medicamento.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ medicamento.id) }}">

    <button class="btn btn-block btn-outline-danger btn-sm">
     <i class="fas fa-trash-alt"> Eliminar
     </i>
    </button>
</form>
