<form method="post" action="{{ path('otros_antecedentes_delete', {'id': otros_antecedente.id}) }}" onsubmit="return confirm('Está seguro que desea eliminar el item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ otros_antecedente.id) }}">
    <button class="btn btn-block btn-outline-danger btn-sm">
        <i class="fas fa-trash-alt"> 
            Eliminar
        </i>
    </button>
</form>