{{ form_start(form) }}
    {{ form_widget(form) }}
     
    <button class="btn btn-block bg-gradient-primary btn-sm">
      <i class="fas fa-save">
      {{ button_label|default('Guardar') }}
      </i>
    </button>
{{ form_end(form) }}
